body {
    background-color: #202F2D;
    color : #CACACA;
    display: flex;
    justify-content: center;
    align-items: center;
}

#register-btn {
    margin-bottom: 6px;
    width: 100px;
}

#flash-msgs {
    color: #bc8686;
    text-align: center;
}

.Login-container {
    margin: 5vw;
    background-color: #202528;
    padding: 30px;
    border-radius: 20px;
    width: 95%;
    height: 95%;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
}

.form-group {
    width: 50%;
    margin: 10px auto;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-family: "Ahorani";
    color: white;
}

.form-control {
    background: rgb(28, 26, 26);
    color: white;
    border: none;
    font-family: "Ahorani";
}

.form-control::placeholder {
    color: #1DB954;
}

.btn {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 150px;
    background-color: #1DB954;
    color: Black;
    font-family: "Arial Black";
}

.btn:hover {
    background-color: #1e8644; /* Darker Green on Hover */
}

