<!DOCTYPE html>
<html lang="end">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/register.css') }}">

</head>
<body>
    <div class="Register-container">
        <h2 class="text-center">Register</h2>
        <form action="/register" method="post">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" required>
            </div>
            <div class="form-group">
                <div class="row">
                    <!-- Name Field -->
                    <div class="col-md-6">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name" required>   
                    </div>     
                    <!-- Gender Field -->
                    <div class="col-md-6">
                        <label for="gender">Gender</label>
                        <select class="form-control" id="gender" name="gender" required>
                            <option value="" disabled selected>Select Gender</option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                            <option value="O">Other</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-2">
                    <!-- Date of Birth Field (Full Width) -->
                    <div class="col-12">
                        <label for="dob">Date of Birth</label>
                        <input type="date" class="form-control" id="dob" name="dob" required>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn">Register</button>
            </div>
        </form>
        <h5 class="text-center">Doesn't have account yet?</h5>
        <a href="/login" class="btn" id="register-btn">Login</a>
    </div>
</body>
</html>