{% extends "base.html" %}
{% block extra_css %} <link rel="stylesheet" href="{{ url_for ('static', filename='css/search.css') }}"> {% endblock %}
{% block title %}The Searcher{% endblock %}

{% block content %}
    <div class="maincontainer">
        <div id="flash-msgs">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                        <p>{{msg}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <h1 class="Title", id="MainTitle"><b>The Spotify Searcher</b></h1>
        <div class="container">
            <form method="post" class="form-group search-container">
                <input type="text" id="song-name" class="form-control" name="song-input" placeholder="Enter song name" required>
                <input type="number" class="form-control" id="result-qty" name="result-qty" placeholder="Number of result" min="2" max="20">            
                <button class="btn btn-success">Search</button>
            </form>
            {% if songs_data %}
                <label for="search-results">Search Results</label>
                <div id="search-results" class="Pharagraph search-pharagraph">
                    <p>Top Result</p>
                    {% for item in songs_data %}
                        {% if loop.index0 == 0 %}  {# First item #}
                            <div class="result">
                                <div class="content-wrapper">
                                    <img class="cover_pic" src="{{ item[5] if item is defined else '/static/default.png' }}" alt="Song's Cover picture">
                                    <div class="song-data">
                                        <p>Song: {{ item[0] }}</p>
                                        <p>Artists: 
                                            {% for artist in item[1] %}
                                                {{ artist }}{% if not loop.last %}, {% endif %}
                                            {% endfor %}
                                        </p>
                                        <p>Release: {{ item[4] }}</p>
                                        <p>Album: {{ item[3] }}</p>
                                    </div>
                                </div>  
                                <div class="song-links">
                                    <a href="{{ item[2] }}">Spotify link</a>  
                                    <a href="{{ item[6] }}">Youtube link</a>
                                </div>
                            </div>
                            <p>Results</p> 
                            
                        {% else %}
                            <div class="result">
                                <div class="content-wrapper">
                                    <img class="cover_pic" src="{{ item[5] if item is defined else '/static/default.png' }}" alt="Song's Cover picture">
                                    <div class="song-data">
                                        <p>Song: {{ item[0] }}</p>
                                        <p>Artists: 
                                            {% for artist in item[1] %}
                                                {{ artist }}{% if not loop.last %}, {% endif %}
                                            {% endfor %}
                                        </p>
                                        <p>Release: {{ item[4] }}</p>
                                        <p>Album: {{ item[3] }}</p>
                                    </div>
                                </div>  
                                <div class="song-links">
                                    <a href="{{ item[2] }}">Spotify link</a>   
                                    <a href="{{ item[6] }}">Youtube link</a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

            {% else %}
            <label for="search-results">Search Results</label>
            <div id="search-results" class="Pharagraph search-pharagraph">
                <p><br/>If problems keep happening, Please contact the developer by email or WhatsApp. Thank you 😊</p>
            </div>
            {% endif %}

        </div>
        <h2 id="abouttitle" class="Title">About</h2>
        <p class="Pharagraph" id="about-pharagraph">
            Search the song by using name and get the result up to 20 songs and the related link for the songs.
        </p>   
    </div>
{% endblock %}